<h1>Recipe List: All Recipes</h1>
{% if recipe_list %}
    <table border="1">
    <tr>
    <th>Dish</th>
    <th>Main Ingredient</th>
	<th>Total Time Required</th>
    </tr>
    {% for recipe in recipe_list %}
        <tr><td><a href="/recipes/{{ recipe.id }}/">{{ recipe.name }}</a></td>
        <td><a href="/recipes/{{ recipe.main_ingredient }}/">{{ recipe.main_ingredient }}</a></td>
		<td>{{ recipe.time_required }} minutes</td></tr>
    {% endfor %}
{% else %}
    <p>No recipes are available.</p>
{% endif %}